<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Solway&display=swap" rel="stylesheet">
    <title>RuyaFlute</title>
</head>
<body >
    <div id="flute-overlay">
        <div class="content"> 
          <img class="img-profile" 
          src= "./RuyaProfile.jpg" 
          alt="Ruya headshot">
          <div class="content">
              <p>I'm a normal person who started playing the flute at 8 years old. ;) It is an instrument that always separate myself to another world which obviously that I didnt know.<p>
          </div>
        </div>
    </div>
</body>
</html>
