<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Solway&display=swap" rel="stylesheet">
    <title>RuyaFlute</title>
</head>
<body >
    <div id="flute-overlay">
        <div> 
          <img class="img-profile" 
          src= "./RuyaProfile.jpg" 
          alt="Ruya headshot">
          </div>
          <div class="content">
            <p> RuyaFlute </p>
          </div>
          
          <div class="balls" id="ball1" data-text="How to melt with it?"></div>
          <div class="balls" id="ball2" data-text="My Projects" ></div>
          <div class="balls" id="ball3" data-text="Why the most beautiful piece has always to be the most difficult to play?"></div>
          <div class="balls" id="ball4" data-text="How to have my music connect to the people who I care for?"></div>
          <div class="balls" id="ball5" data-text="Where is the beauty of mastering a piece when the heart is not pounding?"></div>
        </div>
    </div>
</body>
</html>
