@font-face {
  font-family: 'Pangolin';
  src: url('./Pangolin-Regular.ttf');
}

body {
  background-image: url('Flute.jpg');
  z-index: -1;
}

#flute-overlay {
  position: fixed;
  overflow: scroll;
  z-index: 0;
  width: 100%;
  height: 100%;
  animation-name: dreamy;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes dreamy {
  0% {
    background-color: rgba(245, 216, 238, 0.5);
  }
  20% {
    background-color: rgba(180, 180, 180, 0.5);
  }
  100% {
    background-color: rgba(245, 216, 238, 0.5);
  }
}

.content {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Pangolin';
  font-size: 1.5em;
}

.img-profile {
  width: 15%;
  border-radius: 50%;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 10%;
}

.balls{
  border-radius: 50%;
  background: linear-gradient(35deg,black,black);
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 50px;
}
#ball1 {
  right: 15%;
  top: 15%;
  transform: scale(0.7);
}
#ball2 {
  left: 25%;
  top: 10%;
  transform: scale(0.9);
}
#ball3 {
  top: 60%;
  right: 10%;
  transform: scale(1);
}
#ball4 {
  left: 55%;
  bottom:10%;
  transform: scale(0.8);
}
#ball5 {
  bottom: 25%;
  left: 10%;
  transform: scale(0.7);
}
