@font-face {
  font-family: 'Pangolin';
  src: url('./Pangolin-Regular.ttf');
}

body {
  background-image: url('Flute.jpg');
  z-index: -2;
}

#flute-overlay {
  position: fixed;
  overflow: scroll;
  z-index: -1;
  width: 100%;
  height: 100%;
  animation-name: dreamy;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes dreamy {
  0% {
    background-color: rgba(245, 216, 238, 0.5);
  }
  20% {
    background-color: rgba(180, 180, 180, 0.5);
  }
  100% {
    background-color: rgba(245, 216, 238, 0.5);
  }
}

.content {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Pangolin';
  font-size: 1.5em;
}

.img-profile {
  width: 15%;
  border-radius: 50%;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 10%;
}

.balls{
  border-radius: 50%;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 50px;
}

#ball1 {
  right: 15%;
  top: 15%;
  transform: scale(0.7);
  background: black;
  transition: 0.5s;
}

#ball1:hover {
  transform: scale(20);
  background: burlywood;
  opacity: 0.6;
}

#ball1:after {
  content: attr(data-text);
  font-size: 1px;
}

#ball2 {
  left: 25%;
  top: 10%;
  transform: scale(0.9);
  background: black;
  transition: 0.5s;
}

#ball2:hover {
  transform: scale(25);
  background: beige;
  opacity: 0.6;
}

#ball3 {
  bottom: 20%;
  right: 10%;
  transform: scale(0.9);
  background: black;
  transition: 0.5s;
}

#ball3:hover {
  transform: scale(20);
  background: rgb(195, 195, 240);
  opacity: 0.6;
}

#ball4 {
  left: 55%;
  bottom: 10%;
  transform: scale(0.8);
  background: black;
  transition: 0.5s;
}

#ball4:hover {
  transform: scale(25);
  background: lightseagreen;
  opacity: 0.6;
}

#ball5 {
  bottom: 25%;
  left: 15%;
  transform: scale(0.7);
  background: black;
  transition: 0.5s;
}

#ball5:hover {
  transform: scale(20);
  background: pink;
  opacity: 0.6;
}